.h1:global(.MuiTypography-root) {
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  text-align: center;
  margin-bottom: 40px;

  @media (max-width: 1130px) {
    font-size: 54px;
  }

  @media (max-width: 490px) {
    margin: 40px auto;
    max-width: 280px;
    font-size: 32px;
    line-height: 120%;
  }

}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  position: relative;
  min-height: 400px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
}

.image {
  width: 100%;
  position: absolute;
  inset: 0px;
  z-index: -1;
  opacity: 0.5;
  filter: blur(5px);
}

.content {
  margin-bottom: 50px;

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 20px;
  }

  h5 {
    font-size: 2rem;
    margin: 0 0 20px;
  }
}

.breadcrumbs {
  color: #FFFF !important;
  margin-bottom: 20px !important;

  a,
  p {
    color: #FFFF;
  }

  p {
    font-weight: bold;
  }
}

.recomedationTitle {
  font-size: 3rem;
  margin: 0 0 20px;
  font-weight: bold;
  text-align: center;
}

.recomedationCardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;

  @media(max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media(max-width: 660px) {
    grid-template-columns: repeat(1, 1fr);

  }
}


.articleCardWrapper {
  padding: 20px;

  &:hover {
    .articleCardImage {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}

.articleCard {
  color: #FFFF;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  max-width: 200px;

}

.articleCardImageWrapper {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;

  div {
    width: 100%;
    height: 100%;
    transition: all .3s ease;
  }
}