@import '../styles/vars';
.button {
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 42px;
    color: $white;
    cursor: pointer;
    background-image: linear-gradient(to right, $pink, $violet, $pink, $dark-pink, $dark-violet);
    background-size: 400% 100%;
    background-position-x: 0;
    border-radius: 30px;
    border: none;
    white-space: nowrap;
    transition: background-position 0.5s ease;
    &:hover {
        background-position-x: 25%;
    }
    &:active {
        background-position-x: 100%;
    }
}