@import './vars';

.modal {
	z-index: 10;
	background: rgba(0, 0, 0, 0.235);
	overflow: hidden;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.modalBody {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		border-radius: 40px;
		padding: 25px;
		background-image: linear-gradient(to right, rgba(242, 107, 220, 1), rgba(137, 133, 242, 1));
		@media (max-width:550px) {
			max-width: 80vw;
		}
		h4{
			font-size: 44px;
			margin: 0;
			@media (max-width:550px) {
				font-size: 32px;
			}
		}
	}
	.success{
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

	}
	.successText{
		font-size: 20px;
		@media (max-width:550px) {
			font-size: 16px;
		}
	}
	.successArrow{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 70px;
		padding: 5px;

		font-size: 60px;
		background-color: rgba(67, 236, 67, 0.449);
		border-radius: 50%;
	}
	.errorIcon{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 80px;
		padding: 5px;

		font-size: 60px;
		background-color: rgba(236, 67, 67, 0.449);
		border-radius: 50%;
	}
	.closeArrow{
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
		font-size: 20px;
		background: transparent;
		border: none;
		color: inherit;
	}

	
}

